{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ABOUT US</title>
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">

</head>
<body>
    <div  class="heading">
        <h1 style="z-index: 2;color: #fff;font-family: Arial, Helvetica, sans-serif;text-shadow:#fffd;">ABOUT US</h1></div>
<div id="drag-container">
  <div id="spin-container">
    
    <img id="redirectImage1" src="{% static 'images/colorself.jpg' %}" alt="laggye">
    <img id="redirectImage2" src="{% static 'images/aam.jpg' %}" alt="laggye">
    <img id="redirectImage3" src="{% static 'images/abd.jpg' %}" alt="laggye">
    <img id="redirectImage4" src="{% static 'images/aziz.jpg' %}" alt="laggye">
    <img id="redirectImage5" src="{% static 'images/saleem.jpg' %}" alt="laggye">
    <img id="redirectImage6" src="{% static 'images/meesho.jpg'%}" alt="laggye">
    

    <p>DEVELOPERS</p>
  </div>
  <div id="ground"></div>
</div>

<div id="music-container"></div>










<a href="https://github.com/HoangTran0410/3DCarousel" target="_blank" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#fff; color:#000; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

  <script  src="{% static 'js/script.js' %}"></script>

</body>
</html>
